* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* impostazioni generali */
.container {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

/* header */
header {
    position: fixed;
    z-index: 300;
    width: 100%;
    height: 100vh;
}

/* logo discord */
header .logo-dc {
    float: left;
    text-align: right;
    width: 25%;
    height: 100px;
}

header .logo-dc img {
    width: 30%;
    height: 100%;
}

/* menu */
header nav {
    float: left;
    width: 50%;
    height: 100px;
    padding: 0 150px;
}

header nav ul li {
    list-style-type: none;  
    float: left;
    line-height: 100px;
    margin-left: 50px;
}

/* accedi */
header .log-in {
    float: left;
    width: 25%;
    height: 100px;
}

header .log-in a {
    color: #2851e0;
    line-height: 100px;
    vertical-align: 100px;
    background: white;
    border-radius: 50px;
    padding: 12px;
}

/* contenuto header */
.content-top {
    width: 100%;
    height: 100vh;
}

.content-top .top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    width: 950px;
    height: 260px;
}

.content-top .top-text h1 {
    font-size: 60px;
    color: white;
}

.content-top .top-text p {
    margin-top: 50px;
    font-size: 25px;
    line-height: 35px;
    color: white;
}

.content-top .list-button {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    width: 800px;
    height: 100px;
    padding: 10px;
}

.list-button .down {
    float: left;
    margin: 0 50px;
    background: white;
    border-radius: 50px;
    width: 35%;
    height: 100%;
    color: black;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
}

.list-button .open {
    float: left;
    background: #212427;
    border-radius: 50px;
    width: 50%;
    height: 100%;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
}